<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="_csrf" content="${_csrf.token}"/>
	<!-- default header name is X-CSRF-TOKEN -->
	<meta name="_csrf_header" content="${_csrf.headerName}"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

        <title>Log in with your account</title>
    
  <!--CSS Defenitions  -->
    <link href="resources/css/blog-home.css" rel="stylesheet">
    <link href="resources/css/bootstrap.css" rel="stylesheet">
    <link href="resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="resources/css/common.css" rel="stylesheet">
    <link href="resources/css/form.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!--JS Defenitions  -->
	<script src="resources/js/angular.min.js"></script>
	<script src="resources/js/bootstrap.js"></script>
	<script src="resources/js/bootstrap.min.js"></script>
	<script src="resources/js/jquery.js"></script>
	<script src="resources/js/app.js"></script>
	<script src="resources/js/ui-bootstrap-1.1.0.min.js"></script>
      
 

</head>

<body>


	<!--angularJS definition  -->
	<div data-ng-app="loginApp" data-ng-controller="loginAppController">

<div class="container">
<img class="img-responsive" src="resources/img/codeValue.png" style="margin: 0 auto;" alt="" height="42" width="300">
    <form class="form-signin">
        <h1 class="form-heading">Log in</h1>
        <div class="form-group">
            <input name="username" type="text" class="form-control" placeholder="Email" autofocus="true" ng-model="email"/>
            <input name="password" type="password" class="form-control" placeholder="Password" ng-model="password"/>
                <div ng-repeat="error in registrationErrorMessage">
                <span class="errorMessage">*{{error}}</span> 
                </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="login()">Log In</button>
            <h4 class="text-center"><a href="registration.html">Create an account</a></h4>
        </div>
    </form>

</div>



</body>
</html>
